@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;

}

main {
    display: flex;
}

#container1 {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 100vh;
    background: linear-gradient(180deg, #15025A 0%, #110050 100%);
    align-items: center;
}

img {
    
    margin-top: 10px;
    width: 120px;
    height: 74.66px;
    margin-bottom: 80px;
}

#container {
    width: 100%;
 
}

#container2-1 {
    display: flex;
    flex-direction: column;
}

#container2 {
    background-color: #f7f9fa;
    padding: 20px 24px;
    display: flex;
    justify-content: center;
    height: 100%;
}

#container2-1 > p {
    margin-bottom: 10px;
    width: 800px;
}


.botao {
    background-color: white;
    display: flex;
    height: 64px;
    background-color: #fff;
    margin-bottom: 8px;
    align-items: center;
    padding: 0px 16.5px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}



#agendar {
    margin-top: auto;
    background-color: #110050; /* Adicione um fundo se desejar */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 20px 15px;
    cursor: pointer; /* Para indicar que é um botão clicável */
    border-radius: 7px; /* Para deixar as bordas arredondadas */
    width: 50%;
}

#agendar:hover {
    background-color: #0c0036; /* Adicione um fundo se desejar */
}

.bi {
    color: #000;
    font-size: 1.4em;
    margin-right: 16px;
    flex: 0 0 auto;
    
}

.bi2 {
    color: #778d9c;
    margin-right: 15px;
    font-size: 1.2em;
}

.bi2:hover {
    color: #778d9c;

}


nav {
    display: flex;
    flex-direction: column;
    color: white;
    align-self: flex-start;
    margin-left: 35px;
    font-weight: bold;
    font-size: 18px;
}

#menu-h {
    display: none;
}

#ligacao {
    display: flex;
    align-items: center;
    margin-top: 35px;
    font-weight: 550;
}

#ligacao:hover {
    color: #778d9c;

}


.botao p {
    font-size: 15px;
    margin-bottom: 0;
}

.modal-title {
    margin-bottom: 20px;
}



#botao-model-filial {
    background-color: #ffffff;
    padding: 10px;
}

#botao-model-filial:hover {
    background-color: #eeeeee;
    padding: 10px;
}

.botao-model-servico {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.botao-model-servico:hover {
    background-color: #eeeeee;
    padding: 10px;
}

#botao-model-sub {
    background-color: #ffffff;
    padding: 10px;
}

#botao-model-sub:hover {
    background-color: #eeeeee;
    padding: 10px;
}






.botao:hover {
    background-color: #eeeeee;
    transition: 0.3s;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.custom-checkbox input {
    display: none; /* Oculta a checkbox padrão */
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #15025A;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    position: relative;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #15025A;
}

.custom-checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    #container2-1 {
        width: 80%;
    }
    #agendar {
        margin-top: auto;
        background-color: #110050; /* Adicione um fundo se desejar */
        color: white; /* Cor do texto */
        text-align: center;
        padding: 20px 15px;
        cursor: pointer; /* Para indicar que é um botão clicável */
        border-radius: 7px; /* Para deixar as bordas arredondadas */
        
    }

    #container2-1 > p {
        margin-bottom: 10px;
        width: 100%;;
        align-self: center;
    }
}


@media screen and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #menu-h {
        display: block;
        font-size: 2.2em;
        margin-left: 20px;
    }

    #container1 {
        flex-direction: row-reverse;
        width: 100vw;
        height: 75px;
        justify-content: space-between;
    }

    nav {
        display: none;
    }


    img {
        width: 80px;
        height: 50px;
        margin: 0px;
        margin-right: 30px;
    }



    #container2-1 {
    }

    #container2 {
        height: 89vh;
    }

    #container2-1 > p {
        margin-bottom: 20px;
        width: 100%;
        align-self: center;
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    #container2-1 {
         width: 100%; 
    }

    #agendar {
    }
}

