@font-face {
    font-family: "sansation";
    src: url(sansation/Sansation_Bold.ttf)  format('truetype');
    /* or opentype */
}


:root {
    --azul-escuro: rgb(21, 2, 90);
    --orange: rgb(255, 178, 34);
    --white: rgb(255, 255, 255);
    --degrade-btn: linear-gradient( #fe9611, #ff5c00); /* Ajuste no gradiente */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'sansation';
    background-color: var(--azul-escuro);
}


#container1 {
    display: flex;
    background-color: var(--azul-escuro);
    height: 120px;
    flex-flow: row wrap;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-left:440px;
    margin-right: 270px;
}

header > div > img {
    width: 106px;
    height: 68.01px;
} 

#menu-h {
    color: white;
    display: none;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 20px;
    letter-spacing: 2px;
}

#login {
    background-color: #fe7b09;
    padding: 10px 20px;
}

#login:hover {
    background-color: #fa9f27;
}

main {
    background-color: var(--azul-escuro);
    height: 100%;
}

#container2 {
    display: flex;

}

#imagem {
    position: relative;
    display: inline-block;
}

main img {
    width: 300px;
 /*  position: relative;
    left: 570px; */
}

#container2-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100vw;
    height: 79vh;
}

.p1 {
    color: white;
    font-family: sans-serif;
}

#container2-1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -30px;
}

#container2-1-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
}

#sas {
    width: 330px;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
}

#funcionamento {
    font-weight: 600;
    margin-top: 80px;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-bottom: 20px;
}

#salao {
    margin-top: 120px;
    font-size: 48px;
    width: 600px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

#beleza {
    margin-top: 130px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 420px;
}

.bi {
    color: white;
    margin-right: 10px;
}

#zap {
    margin-left: 10px;
}

main a {
    background-color: #fe7b09;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 10px 0px;
    padding: 20px 30px;
    width: 250px;
    text-align: center;

    font-family: 'sansation';
    letter-spacing: 2px;
}

main a:hover {
    background-color: #fa9f27;
}


#container3 {
    display: flex;
    background-color: #fe9611;
    color: white;
    height: 90px;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
}

#p1 {
    position: relative;
    left: 200px;
    margin: 0px;
}

#p2 {
    margin: 20px;
    align-items: center;
    flex-basis: 1px;
    align-self: center;
}

.p2 {
    display: flex;
    position: relative;
}

#s1 {
    position: relative;
    left: -10px;
}

#s2 {
    position: relative;
    left: -5px;
}

#s3 {
    position: relative;
    left: -13px;
}


section {
    background-color: white;
    padding-bottom: 100px;
}


article h1 {
    font-size: 25px;
}

article p {
    font-size: 18px;
}

#container4 {
    display: flex;
    height: 800px;
}

article {
    background-color: white;
    height: 600px;
    width: 600px;
    margin-left: 200px;
    position: relative;
    top: 80px;
    display: inline-block;
}

#container5 {
    display: flex;
}

#container4 img {
    display: flex;
    width: 600px;
    height: 400px;
    margin-top: 110px;
    margin-right: 50px;
    justify-self: end;
    margin-left: 50px;
}

#container4-1 {
    width: 1000px;
}

section > p {
    color: #000;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 210px;
    padding-top: 40px;
    font-family: sans-serif;
}

iframe {
    width: 1219px;
    height: 742px;
    background: #F5F9FC;
    display: block;
    margin: auto;
    margin-top: 100px;
}




















@media screen and (max-width: 1450px) { 
    
    #menu-h {
        display: flex;
        position: relative;
        right: 20px;
        top: 28px;

    }

    .menu {
        display: none;
    }


    main a {
        top: 510px;
        font-size: 12px;
    }
}


@media screen and (max-width: 1100px) {

    #container3 {
        margin-top: 120px;
        height: 60px;
    }
} 

@media screen and (min-width: 600px) and (max-width: 1300px) {

    #container3 {
        flex-flow: column;
        font-size: 24px;
        height: 140px;
        letter-spacing: 1.5px;
    }

    #p1 {
        justify-content: center;
        position: relative;
        left: 0px;
        margin: 0;
    }

    .p2 {
        justify-content: center;
    }

    #p2 {
        margin: 5px 20px;
    }

    article h1 {
        font-size: 20px;
    }
    
    article p {
        font-size: 14px;
        line-height: 1.8em;
    }

    #container4 img {
        width: 350px;
        height: 350px;
    }



}


@media screen and (max-width: 1100px) {


    #container3 {
        margin-top: 120px;
        height: 90px;
        font-size: 18px;
    }

    main a {
        left: -40px;
        top: 410px;
        font-size: 12px;
        padding: 17px 20px;
    }
} 